body {
  background-color: #f3fffc;

  /* letter-spacing: 1px; */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background: linear-gradient(-45deg, #0c073a, #55338b, #ac9ad4, #585aa3);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */
}

#full {
  display: flex;
  flex-direction: row;
  align-self: fkex-end;
}
#landing {
  align-self: stretch;
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: row;
}

.logo {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
  align-self: center;
}
.void {
  width: 800px;
  background: transparent;
}
#login-form {
  align-self: center;
  display: flex;
  flex-direction: row;
}
#github-login {
  align-self: center;
  margin-top: -100px;
  width: 250px;
  height: 70px;
  background-color: #fafafa;
  opacity: 0.6;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #303030;
}
#github-login:hover {
  background-color: white;
  opacity: 1;
}
#github-login:focus {
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-content: stretch;
}
.colOne {
  align-self: stretch;
  height: 1300px;
  width: 400px;
  /* background-color: #2d2d5c; */
  background: linear-gradient(-45deg, #070121, #cff5ea, #01012b);
  margin-top: -25px;
  margin-left: -10px;
  font-family: Arial;
}
/* left navigation bar style */
#leftNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: transparent; */

  padding: 20px;
  margin-top: 30px;
}
#profile {
  border-radius: 50%;
  border: 2px solid white;
}
.userNameWrap {
  font-size: 30px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
#logoutButton {
  width: 100px;
  height: 30px;
  border: 1px solid #313160;
  background-color: #fff3cd;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
}

/* feedContainer style */
.colTwo {
  background-color: #f7f7f7;
  align-self: stretch;
  height: 1220px;
  width: 1000px;
  margin-top: -25px;
  padding: 40px;
  font-family: "Arial", sans-serif;
  /* margin-left: -25px; */
}

#activeTix {
  display: flex;
  flex-direction: column;
}
.ticketbox {
  display: flex;
  flex-direction: column;
}

.request {
  font-weight: 600;
  background-color: #d6f7ea;
  height: 30px;
  margin-left: -19px;
  margin-top: -5px;
  margin-right: -19px;
  padding-left: 20px;
  padding-top: 10px;
  align-self: stretch;
}
.myrequest {
  font-weight: 600;
  background-color: #22275e;
  color: white;
  height: 30px;
  margin-left: -20px;
  margin-top: -5px;
  margin-right: -20px;
  padding-left: 20px;
  padding-top: 10px;
  align-self: stretch;
}
.expected {
  font-weight: 600;
}
.req {
  font-weight: 400;
  font-size: 18px;
}

.ticketbox {
  background-color: #ffffff;
  margin: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.ticketbox:hover {
  border: 2px solid rgb(182, 204, 208);
}
.accept {
  height: 25px;
  width: 60px;
  margin: 2px;
  border-radius: 4px;
  background-color: #d9f5eb;
}
.accept:focus {
  outline: none;
}
.resolve {
  height: 25px;
  width: 60px;
  margin: 2px;
  border-radius: 4px;
  color: white;
  background-color: #38386d;
}
.resolve:focus {
  outline: none;
}
.delete {
  height: 25px;
  width: 55px;
  margin: 2px;
  border-radius: 4px;
}
.delete:focus {
  outline: none;
}
.commentBtn {
  height: 25px;
  width: 75px;
  margin: 2px;
  border-radius: 4px;
}
.commentBtn:focus {
  outline: none;
}
.decline {
  height: 25px;
  width: 75px;
  margin: 2px;
  border-radius: 4px;
}
.decline:focus {
  outline: none;
}
.pending {
  height: 25px;
  width: 75px;
  margin: 2px;
  border-radius: 4px;
}
.pending:focus {
  outline: none;
}

.postCommentButton {
  height: 25px;
  width: 45px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #313160;
  background-color: #fff3cd;
}
.postCommentButton:focus {
  outline: none;
}
.commentLog {
  margin: 10px;
}
.singleComment {
  width: 30%;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 5px;
  background-color: #eaf1ef;
}

/* ticket creator styling */
.inputReq {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.prompt {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.inputText {
  width: 900px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 20px;
  font-size: 16px;
}
.inputText:focus {
  outline: none;
}
.rating {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.snap {
  margin: 10px;
  width: 30px;
  height: 30px;
}

#postButton {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid #313160;
  background-color: #fff3cd;
}
#postButton:focus {
  outline: none;
}
#postButton:hover {
  color: #1d1d4f;
  background-color: white;
}

/* right nav bar style */
.colThree {
  background-color: #ffffff;
  /* background-color: #2d2d5c; */
  width: 600px;
  align-self: stretch;
  margin-top: -25px;
  margin-right: -20px;
  padding: 20px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
}

.rightNav {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-self: stretch;
  height: 1000px;
}
.rightField {
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 60px;
  margin-right: 60px;
}

#chatBtn {
  height: 50px;
  width: 80px;
  align-self: flex-end;
  margin: 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid #313160;
  background-color: #fff3cd;
}
#chatBtn:focus {
  outline: none;
}
#chatBtn:hover {
  color: #1d1d4f;
  background-color: white;
}
.chatHeader {
  font-weight: 600;
  color: white;
  background-color: #313185;
  padding: 5px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  align-self: stretch;
}

.chatLog {
  width: 330px;
  height: 350px;
  overflow: scroll;
  align-self: center;
  margin-bottom: 5px;
}
.chatmsg {
  padding-bottom: 10px;
}
.chatM {
  padding-bottom: 10px;
}

.chatBox {
  width: 350px;
  /* height: 400px; */
  background-color: #f1fffe;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.inputBox {
  height: 40px;
  border: 1px solid rgb(220, 210, 232);
  border-radius: 6px;
  background-color: #ffffff;
  margin: 2px;
  padding: 10px;
  font-size: 16px;
}
.inputBox:focus {
  outline: none;
}

.sendButton {
  height: 50px;
  border-radius: 6px;
  background-color: white;
  color: #092155;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 2px;
  border: 1px solid #092155;
}
.sendButton:hover {
  background-color: #081b68;
  color: white;
}
.sendButton:focus {
  outline: none;
}

.timeStamp {
  font-size: 12px;
  text-align: right;
  color: grey;
}
